﻿@model MobilePhones.Models.Order

<h1>@Localizer["header"]</h1>

<h3>@Localizer["confirm"]</h3>
<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Localizer["user"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User)
        </dd>
        <dt class = "col-sm-2">
            @Localizer["address"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Localizer["contact"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactPhone)
        </dd>
        <dt class = "col-sm-2">
            @Localizer["phone"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone.Id)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="OrderId" />
        <input type="submit" value="@Localizer["delete"]" class="btn btn-danger" /> |
        <a asp-action="Index">@Localizer["back"]</a>
    </form>
</div>
