﻿@model MobilePhones.Models.Order

<h1>@Localizer["header"]</h1>

<div>
    <h4>@Localizer["after-Header"]</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Localizer["user"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User)
        </dd>
        <dt class="col-sm-2">
            @Localizer["address"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Localizer["contact"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactPhone)
        </dd>
        <dt class="col-sm-2">
            @Localizer["phone"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.OrderId">@Localizer["edit"]</a> |
    <a asp-action="Index">@Localizer["back"]</a>
</div>
