﻿@model MobilePhones.Models.Order



<h1>@Localizer["edit"]</h1>

<h4>@Localizer["header"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OrderId" />
            <div class="form-group">
                <label>@Localizer["user"]</label>
                <input asp-for="User" class="form-control" />
                <span asp-validation-for="User" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>@Localizer["datetime"]</label>
                <input asp-for="DateTime" class="form-control" type="datetime" />
                <span asp-validation-for="DateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>@Localizer["address"]</label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>@Localizer["contact"]</label>
                <input asp-for="ContactPhone" class="form-control" />
                <span asp-validation-for="ContactPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>@Localizer["phone"]</label>
                <select asp-for="PhoneId" class="form-control ordersSelect2">
                    <option value="@Model.PhoneId" selected>@Model.Phone.Name</option>
                </select>
                <span asp-validation-for="PhoneId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@Localizer["save"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@Localizer["back"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
