﻿@model IEnumerable<MobilePhones.Models.Order>
<h1>@Localizer["header"]</h1>
<p>
    <a asp-action="Create">@Localizer["createnew"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Localizer["user"]
            </th>
            <th>
                @Localizer["datetime"]
            </th>
            <th>
                @Localizer["address"]
            </th>
            <th>
                @Localizer["contact"]
            </th>
            <th>
                @Localizer["phone"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User)
            </td>
            <td>
                @item.DateTime.ToString("dd-MM-yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OrderId">@Localizer["edit"]</a> |
                <a asp-action="Details" asp-route-id="@item.OrderId">@Localizer["details"]</a> |
                <a asp-action="Delete" asp-route-id="@item.OrderId">@Localizer["delete"]</a>
            </td>
        </tr>
        }
    </tbody>
</table>

@section Scripts
{
    <script>
        $('.asdsadsad').find();
    </script>
}
