﻿@model MobilePhones.Models.Phone

<h1>@Localizer["Header"]</h1>

<h3>@Localizer["after-Header"]</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Localizer["name"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Localizer["company"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Company)
        </dd>
        <dt class="col-sm-2">
            @Localizer["price"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
    
    <form asp-area="Admin" asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="@Localizer["delete"]" class="btn btn-danger" /> |
        <a asp-action="Index">@Localizer["back"]</a>
    </form>
</div>
