﻿@model IEnumerable<MobilePhones.Models.Phone>

<h1>@Localizer["Header"]</h1>

<p>
    <a asp-area="Admin" asp-action="Create">@Localizer["Create"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Localizer["name"]
            </th>
            <th>
                @Localizer["company"]
            </th>
            <th>
                 @Localizer["price"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-area="Admin" asp-action="Edit" asp-route-id="@item.Id"> @Localizer["edit"]</a> |
                <a asp-area="Admin" asp-action="Details" asp-route-id="@item.Id"> @Localizer["details"]</a> |
                <a asp-area="Admin" asp-action="Delete" asp-route-id="@item.Id"> @Localizer["delete"]</a>
            </td>
        </tr>
}
    </tbody>
</table>
