﻿@model FileUploadViewModel


<h4>@Localizer["Header"]</h4>
<hr />

<form method="post" enctype="multipart/form-data">
    <input type="file" name="files" multiple required />
    <div class="form-group">
        <label for="file_upload_description">@Localizer["newFile"]</label>
        <div class="col-sm-6">
            <textarea placeholder="@Localizer["descr"]" class="form-control" id="file_upload_description" rows="3" name="description" required></textarea>
        </div>
    </div>
    <button type="submit" class="btn btn-primary" asp-controller="File" asp-action="UploadToFileSystem">@Localizer["uploadFileSystem"]</button>
    <br />
    <button class="btn btn-success" type="submit" asp-controller="File" asp-action="UploadToDatabase">@Localizer["uploadFileDB"]</button>
</form>
<hr />
<form class="w-100" method="post" asp-controller="File" asp-action="SearchFs">
    <input name="search" class="form-control mr-sm-5" type="search" placeholder="@Localizer["searchinFileSystem"]" aria-label="Search">
</form>



<h4>@Localizer["FilesOfFileSystem"]</h4>
@if (Model.FilesOnFileSystem.Count == 0)
{
<caption>@Localizer["nothing"]</caption>
}
else
{
    <caption>@Localizer["ListOfFileSystem"]</caption>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>@Localizer["name"]</th>
                <th>@Localizer["descr"]</th>
                <th>@Localizer["type"] </th>
                <th>@Localizer["createdOn"]</th>
                <th>@Localizer["user"]</th>
                <th>@Localizer["actions"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var file in Model.FilesOnFileSystem)
            {
                <tr>
                    <th>@file.Id</th>
                    <td>@file.Name</td>
                    <td>@file.Description</td>
                    <td>@file.FileType</td>
                    <td>@file.CreatedOn</td>
                    <td>@file.User</td>

                    <td>
                        <a type="button" class="btn btn-primary" asp-controller="File" asp-action="DownloadFileFromFileSystem" asp-route-id="@file.Id">@Localizer["download"]</a>
                        <a type="button" class="delete btn btn-danger" onclick="return confirm('Вы уверены, что хотите удалить этот файл?')"
                           asp-controller="File" asp-action="DeleteFileFromFileSystem" asp-route-id="@file.Id">@Localizer["delete"]</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<hr />
<form class="w-100" method="post" asp-controller="File" asp-action="Search">
    <input name="search" class="form-control mr-sm-5" type="search" placeholder="@Localizer["searchinDB"]" aria-label="Search">
</form>
    `
<h4>@Localizer["FilesOfDB"]</h4>
@if (Model.FilesOnDatabase.Count == 0)
{
<caption>@Localizer["nothing"]</caption>
}
else
{
    <caption>@Localizer["ListOfDb"]</caption>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>@Localizer["name"]</th>
                <th>@Localizer["descr"]</th>
                <th>@Localizer["type"] </th>
                <th>@Localizer["createdOn"]</th>
                <th>@Localizer["user"]</th>
                <th>@Localizer["actions"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var file in Model.FilesOnDatabase)
            {
                <tr>
                    <th>@file.Id</th>
                    <td>@file.Name</td>
                    <td>@file.Description</td>
                    <td>@file.FileType</td>
                    <td>@file.CreatedOn</td>
                    <td>@file.User</td>

                    <td>
                        <a type="button" class="btn btn-primary" asp-controller="File" asp-action="DownloadFileFromDatabase" asp-route-id="@file.Id">@Localizer["download"]</a>
                        <a type="button" class="delete btn btn-danger" onclick="return confirm('Вы уверены, что хотите удалить этот файл?')"
                           asp-controller="File" asp-action="DeleteFileFromDatabase" asp-route-id="@file.Id">@Localizer["delete"]</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/fontawesome/js/all.min.js"></script>
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script src="~/js/custom.js" asp-append-version="true"></script>
<script src="~/lib/select2/js/select2.full.min.js"></script>
<script src="~/lib/select2/js/i18n/ru.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/select2.js"></script>

