﻿@model IEnumerable<FileOnDatabaseModel>

    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>@Localizer["name"]</th>
                    <th>@Localizer["descr"]</th>
                    <th>@Localizer["type"]</th>
                    <th>@Localizer["actions"]</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var file in Model)
                {
                    <tr>
                        <th>@file.Id</th>
                        <td>@file.Name</td>
                        <td>@file.Description</td>
                        <td>@file.FileType</td>
                        <td>@file.CreatedOn</td>

                        <td>
                            <a type="button" class="btn btn-primary" asp-controller="File" asp-action="FileOnDatabaseModel" asp-route-id="@file.Id">@Localizer["download"]</a>
                            <a type="button" class="btn btn-danger" asp-controller="File" asp-action="FileOnDatabaseModel" asp-route-id="@file.Id">@Localizer["delete"]</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>






    </div>
