﻿
<div class="text-center">
    <h1 class="display-4">@Localizer["Header"]</h1>
</div>

<div>
    <canvas id="canvas" data-phonesdata="@ViewBag.PhoneOrders"></canvas>
</div>

@section Scripts {
    <script src="~/lib/charts/chart.min.js"></script>
    <script src="~/js/chart.js"></script>
}

