﻿@model MobilePhones.Models.Phone



<h1>@Localizer["Header"]</h1>

<div>
    <h4>@Localizer["after-Header"]</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Localizer["name"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Localizer["company"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Company)
        </dd>
        <dt class="col-sm-2">
            @Localizer["price"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
